body{
  font-family: sans-serif;
}
#title{
  text-decoration: underline;
  text-align: center;
}
nav{
  width: 200px;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
  line-height: 30px
  background:#f5f5f0;
}

.item{
  border: 1px dotted #999;
}
li:first-child{
  background: #f9a91a;
}
li: first-child a{
  color: #fff;
}
.hidden{
  display:none;
}